extends layout

mixin unit_rows(profession, unit_path)
    h3= profession
    table(data-toggle="table" data-show-columns="true" data-mobile-responsive="true" data-check-on-init="true")#tab_logic.table.table-striped
        thead
            tr
                each title in ['Name', 'Level', 'HP', 'Armor', 'Immunities', 'Wards', 'Attack', 'Chance to hit', 'Damage', 'Source', 'Initiative', 'Reach', 'Target']
                    th(data-sortable="true")= title
        tbody
            each unit in unit_path
                tr
                    td= unit.label
                    td= unit.level
                    td= unit.hp
                    td= unit.armor
                    td= unit.immunities
                    td= unit.ward
                    td= unit.attack
                    td= unit.chance_to_hit
                    td= unit.damage
                    td= unit.source
                    td= unit.initiative
                    td= unit.reach
                    td= unit.target


block content
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') Home
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                each f in frac
                    li
                        a(href='/' + f.title + '')= f.title
                li
                    a(data-toggle="modal" data-target="#myModal")
                        span.glyphicon.glyphicon-plus
        // /.navbar-collapse
    // /.container
    div.container
        div.content
            h1 Disciples II units stats
            div.row
                h2.text-center= stats.title
            div.row
                h2 Leaders
                table.table
                    thead
                        tr
                            th Class
                            th Name
                            th Flying?
                    tbody
                        tr
                            td Warrior Lord
                            td= stats.leaders.warrior_lord.label
                            td= stats.leaders.warrior_lord.flying
                        tr
                            td Mage Lord
                            td= stats.leaders.mage_lord.label
                            td= stats.leaders.mage_lord.flying
                        tr
                            td Guildmaster
                            td= stats.leaders.guildmaster.label
                            td= stats.leaders.guildmaster.flying
                        tr
                            td Champion
                            td= stats.leaders.champion.label
                            td= stats.leaders.champion.flying
            div.row
                h2 Units
                +unit_rows('Fighters', stats.fighters.unit)
                +unit_rows('Mages', stats.mages.unit)
                +unit_rows('Rangers', stats.rangers.unit)